
#top banner{
max-height:128px;
min-height:128px;
width:100%;
border:solid;
padding: 2px,2px,2px,2px;
}
#logo
{
max-height:128px;
min-height:128px;
width:100%;
border:solid;
padding: 2px,2px,2px,2px;
}
#main nav{
max-height:128px;
min-height:128px;
width:100%;
border:solid;
padding: 2px,2px,2px,2px;
}
#slideshow{
max-height:128px;
min-height:128px;
width:100%;
border:solid;
padding: 2px,2px,2px,2px;
}

#main content{
max-height:128px;
min-height:128px;
width:100%;
border:solid;
padding: 2px,2px,2px,2px;
}

#content1{
max-height:128px;
min-height:128px;
width:100%;
border:solid;
padding: 2px,2px,2px,2px;
}

#bottom nav{
max-height:128px;
min-height:128px;
width:100%;
border:solid;
padding: 2px,2px,2px,2px;
}
#copyright{
max-height:128px;
min-height:128px;
width:100%;
border:solid;
padding: 2px,2px,2px,2px;
}
