
#topbanner{
max-height: 38px;
min-height: 38px;
width:100%;
border-style: solid;
padding: 2px, 6px,;
}
 


#logo{
max-height:175px;
min-height:175px;
width:100%;
border:solid;
padding: 2px,2px,2px,2px;
}

#mainnav{
max-height:38px;
min-height:38px;
width:100%;
border:solid;
padding: 2px,2px,2px,2px;
}



#slideshow{
max-height:620px;
min-height:620px;
width:100%;
border:dashed;
padding: 2px,2px,2px,2px;
}

#workerex1{
 max-height:320px;
 min-height:320px;
 width: 50%;
 
 #workerex2{
 max-height:320px;
 min-height:320px;
 width: 50%;
 

#maincontent{
max-height:384px;
min-height:384px;
width:100%;
border:solid;
padding: 2px,2px,2px,2px;
}
  
  img {
  width: 600px;
  height: 450px;
  background: url(https://giphy.com/gifs/3oEjI6SIIHBdRxXI40/html5) 50% no-repeat;
  border: 1px solid black;
  border-radius: 5px;
}

#content1{
max-height:800px;
min-height:800px;
width:100%;
border:solid;
padding: 2px,2px,2px,2px;
}
#bottomnav{
max-height:448px;
min-height:448px;
width:100%;
border:solid;
padding: 2px,2px,2px,2px;
}

#copyright{
max-height:56px;
min-height:56px;
width:100%;
border:solid;
padding: 2px,2px,2px,2px;
}
  
